<!DOCTYPE html>
<html lang="en-US">
    <head> 
        <meta charset="UTF-8">
        <title> Welcome to our perfect Quiz Homepage </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>

<body>
    <div class="box">
        <h1> Welcome to the Quiz portal!!</h1>
        <p> Would you like to start the quiz!! ?</p>
        <a href="/start" class="button"> Start Quiz</a>
        <div class="links">
            <p>Check my projects on 
                <a href="https://github.com/codex-inspiron" target="_blank">GitHub</a> |
                <a href="https://www.linkedin.com/in/igbodika-henry-python1306code" target="_blank">LinkedIn</a>
            </p>
        </div>
    </div>
</body>

</html>