<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title> Question page </title>
        <link rel="stylesheet"  href="{{url_for('static' , filename='style.css')}}">
    </head>
<body>
    <div class="box"> 

        <h1> These are the questions for this quiz, please answer carefully.</h1>
        <h2> Question {{ques_no}} out of {{ all }} </h2>
        <p> {{question}}</p>
        
        <form method="POST">
            {% for option in options %}
                <div class="option">
                    <input type= "radio"  id="{{option}}"  name="answer" value="{{option}}"  required autocomplete="off">
                    <label for="{{option}}"> {{option}} </label>
                </div>
            {% endfor %}
            <button type="submit"  class="button"> Next question</button>
        </form>
    </div>

</body>

</html>